html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}







:root {
    --header-color: #ffee95;
    --base-color: #f1f1f1;
    --footer-color: #42424a;
    --text-color: #313232;
    --primary-color: #e2cd5f;
    --secondary-text: #212021;
    --button-color-: #f1f1f1;
    --accent-color: #4a4a4a;
    --footer-text-: #f1f1f1;
    --header-text-: #313232;
}

/* Light Theme */
body.zealandMode {
    --header-color: #ffee95;
    --base-color: #f1f1f1;
    --footer-color: #42424a;
    --text-color: #313232;
    --primary-color: #e2cd5f;
    --secondary-text: #212021;
    --button-color-: #f1f1f1;
    --accent-color: #4a4a4a;
    --footer-text-: #f1f1f1;
    --header-text-: #313232;
}

/* Dark Theme */
body.darkMode {
    --header-color: #c9bc76;
    --base-color: #212021;
    --footer-color: #0c0c0c;
    --text-color: #8c8c8c;
    --primary-color: #ffee95;
    --secondary-text: #e6e6e6;
    --button-color-: #212021;
    --accent-color: #adadad;
    --footer-text-: #8c8c8c;
    --header-text-: #0c0c0c;
}

/* Blue Theme */
body.pastelMode {
    --header-color: #dbafc0;
    --base-color: #ead8d2;
    --footer-color: #d395ed;
    --text-color: #8ac3de;
    --primary-color: #beb8dc;
    --secondary-text: #5faed4;
    --button-color-: #de98b3;
    --accent-color: #baf4ba;
    --footer-text-: #baf4ba;
    --header-text-: #baf4ba;
}


header{
    background-color: var(--header-color);
}
header p, header h1, header a {
    color: var(--header-text-);
    text-decoration: none; 
}
header a:hover {
    color: var(--footer-text-);
}

footer {
    background-color: var(--footer-color);
}
footer p, footer h1 {
    color: var(--footer-text-);
}
body {
    background-color: var(--base-color);
}

p {
    color: var(--text-color);
}
h1 {
    color: var(--primary-color);
}
h2, h3 {
    color: var(--secondary-text);
}



button {
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: var(--button-color-);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accent-color);
    color: var(--footer-text-);
}


a {
    color: var(--accent-color);
}