@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<section class="text-center">
    <h1>Choose a theme: </h1>

    <!-- Theme Buttons -->
    <article class="mt-4">
        <button onclick="setTheme('zealandMode')">Zealand Mode</button>
        <button onclick="setTheme('darkMode')">Dark Mode</button>
        <button onclick="setTheme('pastelMode')">Pastel Mode</button>
    </article>

    <p>nfddbfjvnjfdnvjfdznvjfdbvjfdzbvkjbvkjfdbjdkmspodaifjondsifdufhjjusdkidmjdsijsd</p>

</section>

@section Scripts {
    <script>
        function setTheme(themeName) {
            const body = document.getElementById('themeBody');
            body.className = themeName;
            localStorage.setItem('selectedTheme', themeName);
        }

        window.onload = function () {
            const savedTheme = localStorage.getItem('selectedTheme');
            if (savedTheme) {
                document.getElementById('themeBody').className = savedTheme;
            }
        };
    </script>
}